<div class="custom">
  <div class="align-items-center justify-content-center vh-100 background-container text-white" >
    <div class="text-center mb-5 ">
      <img src="../../assets/img/hrd_exam_logo.png" alt="exam logo" class="mb-4">
      <h1 class="display-4">Online Exam</h1>
      <p></p>
      <div class="my-4">
        <button class="btn btn-light btn-lg mx-2 btn-bg">Start Quiz</button>
        <button type="button" class="btn btn-light btn-lg mx-2 btn-bg" data-bs-toggle="modal" data-bs-target="#registerModal">
          Register
        </button>
      </div>
    </div>
  </div>
</div>
<app-register></app-register>

